name: metrics
on:
  workflow_dispatch:
  schedule:
    # Runs at 00:00AM UTC
    - cron: '0 10,22 * * *'  
    
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          filename: assets/metrics.svg
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Stockholm
          repositories_forks: yes

  
  waka-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Europe/Stockholm
          filename: assets/metrics.plugin.wakatime.svg
          token: NOT_NEEDED
          base: ""
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_repositories_visibility: all
          plugin_wakatime_days: 7
          plugin_wakatime_user: mindriddler

  recently-starred:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Europe/Stockholm
          filename: assets/metrics.plugin.stars.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_stars: yes
          plugin_stars_limit: 6
  
  mildly-interesting-facts:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Europe/Stockholm
          filename: assets/metrics.plugin.habits.facts.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
  
  recent-activity:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Europe/Stockholm
          filename: assets/metrics.plugin.activity.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 7
          plugin_activity_timestamps: yes
          plugin_activity_visibility: all
          plugin_activity_filter: push, issue, pr, ref/create, ref/delete, release, review, comment, fork, public
          plugin_activity_skipped: mindriddler, test, backup

  code-snippet-of-the-day:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: lowlighter/metrics@latest
      with:
        filename: assets/metrics.plugin.code.svg
        token: ${{ secrets.GH_TOKEN }}
        base: ""
        plugin_code: yes
        plugin_code_load: 1000
        plugin_code_visibility: all
        plugin_code_lines: 64
        plugin_code_skipped: mindriddler, test, backup, DevoteamJournal, test_gcf
        
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    needs: mildly-interesting-facts
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "True"
          SHOW_LINES_OF_CODE: "False"
          SHOW_LOC_CHART: "False"
          LOCALE: "en"
          COMMIT_BY_ME: "True"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_OS: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_SHORT_INFO: "False"
